<div id="navbar-container" class="u-max-full-width">
    <div id="title">PIRATE</div>
    <div id="nav-icon2">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div class="nav-links">
    <div><a href="#about">ABOUT</a></div>
    <div><a href="#artists">ARTISTS</a></div>
    <!-- <div><a href="#upcoming">UPCOMING</a></div> -->
    <div><a href="#calendar">CALANDER</a></div>
    <div><a href="#press">PRESS</a></div>
    <div><a href="#hours-map">HOURS / MAP</a></div>
    <div><a href="#rent">RENT PIRATE</a></div>
    <div><a href="#contact-us">CONTACT</a></div>
    <div><a href="#join">JOIN PIRATE</a></div>
</div>
<div class="contemporary-art">
    <div class="sub-title">
        CONTEMPORARY ART
    </div>
</div>
